/*หลัก*/
* {
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    -ms-transition: margin-left 0.2s ease-in-out;
    -o-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
  }
  .main-container {
    margin-top: 81px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    background-color: #f3f3f4;
  }
  .collapsed {
    margin-left: 50px;
  }
  @media screen and (max-width: 992px) {
    .main-container {
      margin-left: 0px !important;
    }
  }
  @media print {
    .main-container {
      margin-top: 0px !important;
      margin-left: 0px !important;
    }
  }
  /*จบหลัก*/
  
  .btn-primary {
    border-radius: 1.5px;
    border: none;
  }
  .btn-default {
    border-radius: 1.5px;
    border: none;
  }
  .btn-success {
    border-radius: 1.5px;
    border: none;
  }
  
  .btn-warning {
    border-radius: 1.5px;
    border: none;
  }
  
  .btn-danger {
    border-radius: 1.5px;
    border: none;
  }
  
  .btn-info {
    border-radius: 1.5px;
    border: none;
  }
  
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 3.2rem;    /* Footer height */
  }
  
  #department-name{
    font-size: 16px;
    color: #495057;
    text-shadow: #FC0 1px 0 10px
  }
  .btn-mini{
    padding: 0.25rem 0.5rem;
    font-size: 0.675rem;
    line-height: 1.5;
    width: 60px;
  }

  .effect-change-password{
    cursor: pointer; 
 }