
<nav class="sidebar" [ngClass]="{collapsed: collapsed}">
    <div class="list-group">
        <a  [routerLink]="['/control']" [routerLinkActive]="['router-link-active']" class="list-group-item"> 
            <i class="fa fa-fw fa-cog"></i>&nbsp;
            <span>จัดการเว็บ</span>
        </a>
        <a  [routerLink]="['/schedule']" [routerLinkActive]="['router-link-active']" class="list-group-item"> 
            <i class="fa fa-fw fa-clock-o"></i>&nbsp;
            <span>ตั้งเวลาทำงาน</span>
        </a>
        <a  [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item"> 
            <i class="fa fa-fw fa-users"></i>&nbsp;
            <span>จัดการสมาชิก</span>
        </a>
        <a *ngIf="login.isAdmin"  [routerLink]="['/switch-database']" [routerLinkActive]="['router-link-active']" class="list-group-item"> 
            <i class="fa fa-fw fa-database"></i>&nbsp;
            <span>จัดการสลับฐานข้อมูล</span>
        </a>
        <a *ngIf="login.isAdmin"  [routerLink]="['/log']" [routerLinkActive]="['router-link-active']" class="list-group-item"> 
            <i class="fa fa-fw fa-calendar"></i>&nbsp;
            <span>จัดการ Log</span>
        </a>
   </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
    </div>
</nav>

